extends layout

block content
  h1 Project: #{project.naziv}
  p Opis: #{project.opis}
  p Cijena: #{project.cijena}
  p Datum početka: #{project.datum_pocetka.toISOString().split('T')[0]}
  p Datum završetka: #{project.datum_zavrsetka.toISOString().split('T')[0]}
  h3 Tim:
  ul
    each member in project.tim
      li= member.name  // Pretpostavljam da u modelu korisnika postoji 'name' atribut
  a(href='/projects/' + project._id + '/addMember') Add Member
